{{ define "main" }}
<main>
  <div class="row resume-pdf-row">
    <div class="col-xs-12">
      <p class="resume-pdf-note"><span class="fa fa-file-pdf-o" aria-hidden="true"></span> <a
          href="resume.pdf">PDF version</a></p>
    </div>
  </div>
  <div class="row contact-list">
    <div class="col-xs-6">
      <span class="fa fa-envelope-o" aria-hidden="true"></span>
      <a href="mailto:robdimsdalezucker@gmail.com">robdimsdalezucker@gmail.com</a>
    </div>
    <div class="col-xs-6 text-right">
      <a href="https://www.linkedin.com/in/robdimsdalezucker/">linkedin.com/in/robdimsdalezucker/</a>
      <span class="fa fa-linkedin" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row contact-list">
    <div class="col-xs-6">
      <span class="fa fa-github" aria-hidden="true"></span>
      <a href="https://github.com/robdimsdale">@robdimsdale</a>
    </div>
    <div class="col-xs-6 text-right">
      <a href="https://robdimsdale.com/">robdimsdale.com</a>
      <span class="fa fa-globe" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>About</h3>
      {{ .Content }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Employment</h3>
      {{ range .Data.Pages }}
      {{ $company := . }}
      {{ range .Params.roles }}
      <div class="row resume-role">
        <div class="col-xs-12">
          <div class="resume-role-header">
            <h4>{{ if $company.Params.link }}<a href="{{ $company.Params.link }}">{{ end }}<span
                class="resume-employer">{{ .title }}</span>, {{ $company.Title }}{{ if $company.Params.link }}</a>{{
                end }}</h4>
            {{ if ne .startDate nil }}
            <span class="resume-role-date">{{ .startDate }}&ndash;{{ .endDate }}</span>
            {{ end }}
          </div>
          <ul class="resume-role-highlights-list">
            {{ if ne .summary nil }}<li class="resume-role-summary">{{ .summary }}</li>{{ end }}
            {{ range .highlights }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Education</h3>
      <div class="row">
        <div class="col-xs-12">
          <h4><a href="http://www.eng.cam.ac.uk/" class="resume-employer">University of Cambridge,</a> Sep.
            2007&ndash;Jul. 2011</h4>
          <p>MEng, Engineering: Electrical &amp; Information Sciences</p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}