{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <p>I am a software engineer with 15+ years of experience across multiple roles, from Individual Contributor to
      Engineering Director managing 70+ engineers.</p>
    <p>I gravitate to the roles where I can have the most impact — whether technical, organizational, or both.</p>
    <p>Across every role, I strive to create fast feedback loops, systems that fit their constraints, and the
      conditions that best support the humans who make it all possible.</p>
  </div>

  <div class="hidden-xs col-sm-3">
    <img src="https://s.gravatar.com/avatar/43706e0956e6a52dc691978afa470d51?s=200" class="img-responsive"
      alt="Responsive image" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <ul class="list-unstyled contact-list">
      <li><span class="fa fa-envelope-o" aria-hidden="true"></span>
        <a href="mailto:robdimsdalezucker@gmail.com">robdimsdalezucker@gmail.com</a>
      </li>
      <li><span class="fa fa-github" aria-hidden="true"></span>
        <a href="https://github.com/robdimsdale">@robdimsdale</a>
      </li>
      <li><span class="fa fa-linkedin" aria-hidden="true"></span>
        <a href="https://www.linkedin.com/in/robdimsdalezucker/">linkedin.com/in/robdimsdalezucker</a>
      </li>
    </ul>
  </div>
</div>
{{ end }}